
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
   
<input type="text" id="text">
<button onclick="sendMessage()">Send Message</button>
<h1 id="heading"></h1>
    <script>
      var socket = io('http://localhost:5000');
      socket.on('connection');
      socket.on('message',(data)=>{
document.getElementById('heading').innerHTML = data
      })
      const sendMessage = ()=>{
        const messageInput = document.getElementById('text').value;
        // console.log(messageInput,"messageInput")
        socket.emit('message',messageInput)
      }
    </script>    
</body>
</html>
